.container {
    display: flex;
}

.filter {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 800px;
}

.filter__input {
    padding-left: 40px;
    width: 700px;
    font-size: 18px;
    border: none;
    outline: 0;
    color: #999999;
}

.filter__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}


@media screen and (max-width: 1200px) {
    .filter {
        width: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .filter {
        width: 500px;
    }
}

@media screen and (max-width: 830px) {
    .filter {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .filter {
        width: 200px;
    }
}

